{{range .Site.Params.ExtraJsFiles}}
    <script src="{{.src}}"
    {{ with .integrity }}integrity="{{ . }}"{{ end }}
    {{ with .crossorigin }}crossorigin="{{ . }}"{{ end }}
    ></script>
{{end}}

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{{ .Site.BaseURL }}js/effects.js"></script>
<script src="{{ .Site.BaseURL }}js/skeleton-tabs.js"></script>

<!-- blazy -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"
  integrity="sha256-D0J9D4igaYyVX/Y78Tr0yoDJsy8hi14hCEdFDakBp08=" crossorigin="anonymous"></script>
<script>
  ;(function () {
    var bLazy = new Blazy();
  })();
</script>

<!-- lightbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"
  integrity="sha256-9r7DHolfe5aoH+bUj4FEqRBq2tmaIXBxOYUZFalCjSE=" crossorigin="anonymous"></script>

<!-- highlight -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"
  integrity="sha256-KbfTjB0WZ8vvXngdpJGY3Yp3xKk+tttbqClO11anCIU=" crossorigin="anonymous"></script>

{{ range .Site.Params.highlightjsLangs }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/{{ .lang }}.min.js"
  {{ with .integrity }}integrity="{{ . }}"{{ end }}
  {{ with .crossorigin }}crossorigin="{{ . }}"{{ end }}></script>
{{ end }}

<script>
  hljs.initHighlightingOnLoad();
</script>

<!-- Pikwik Analytics -->
{{ partial "piwik.html" . }}
<!-- Google Analytics -->
{{ template "_internal/google_analytics.html" . }}

{{range .Params.ExtraJsFiles}}
    <script src="{{.src}}"
    {{ with .integrity }}integrity="{{ . }}"{{ end }}
    {{ with .crossorigin }}crossorigin="{{ . }}"{{ end }}
    ></script>
{{end}}