<footer>
    <nav id="icons" class="row content">
        <ul class="columns twelve">
            {{ with .Site.Params.social.linkedin }}
            <li><a target="_blank" data-balloon="LinkedIN" data-balloon-pos="up" title="LinkedIn" href="https://www.linkedin.com/in/{{ . }}">
                <i class="fa fa-linkedin-square fa-2x fa-fw"  aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.twitter }}
            <li><a target="_blank" data-balloon="Twitter" data-balloon-pos="up" title="Twitter" href="https://www.twitter.com/{{ . }}">
                <i class="fa fa-twitter-square fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.github }}
            <li><a target="_blank" data-balloon="Github" data-balloon-pos="up" title="Github" href="https://github.com/{{ . }}">
                <i class="fa fa-github-square fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.stackoverflow }}
            <li><a target="_blank" data-balloon="Stack Overflow" data-balloon-pos="up" title="StackOverflow" href="https://stackoverflow.com/users/{{ . }}">
                <i class="fa fa-stack-overflow fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.keybase }}
            <li><a target="_blank" data-balloon="Keybase" data-balloon-pos="up" title="Keybase" href="https://www.keybase.io/{{ . }}">
                <i class="fa fa-key fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.slideshare }}
            <li><a target="_blank" data-balloon="Slideshare" data-balloon-pos="up" title="SlideShare" href="https://www.slideshare.net/{{ . }}">
                <i class="fa fa-slideshare fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.reddit }}
            <li><a target="_blank" data-balloon="Reddit" data-balloon-pos="up" title="Reddit" href="https://www.reddit.com/user/{{ . }}">
                <i class="fa fa-reddit-square fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            {{ with .Site.Params.social.medium }}
            <li><a target="_blank" data-balloon="Medium" data-balloon-pos="up" title="Medium" href="https://medium.com/@{{ . }}">
                <i class="fa fa-medium fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            {{end}}
            <li class="u-pull-right"><a data-balloon="HOME" data-balloon-pos="up" title="Home " href="/">
                <i class="fa fa-home fa-2x fa-fw" aria-hidden="true"></i>
            </a></li>
            <li class="u-pull-right"><a target="_blank" data-balloon="RSS Feed" data-balloon-pos="up" title="RSS Feed" href="/index.xml">
                <i class="fa fa-rss-square fa-2x fa-fw" aria-hidden="true"></i>&nbsp;</a></li>
        </ul>
    </nav>

    <section id="copyright" class="columns twelve">
        {{ .Site.Copyright }}
    </section>
</footer>

</section>
<!-- /container -->

{{ partial "footer_scripts" . }}

</body>
</html>
