
<!-- skeleton & typeplate -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
    integrity="sha256-nXC6R0O+3ez3B440sqRACd9wvr4A1cHmzr1K+2bINzk=" crossorigin="anonymous" />

<!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />

<!-- lightbox -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" integrity="sha256-iU/Wh1HMAs/NgpurDAu14e7S3FkllcJ5aPnpPDdnO6c=" crossorigin="anonymous" />

<!-- Extra CSS files in config.toml -->
{{range .Site.Params.ExtraCssFiles }}
<link rel="stylesheet" href="{{.href}}"
    {{ with .integrity }}integrity="{{ . }}"{{ end }}
    {{ with .crossorigin }}crossorigin="{{ . }}"{{ end }} />
{{ end }}

<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/styles.min.css">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/skeleton-tabs.min.css">

<!-- highlight -->
{{ if .Site.Params.highlightjsTheme }}
{{ $theme := .Site.Params.highlightjsTheme }}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/{{ $theme.name }}.min.css"
    {{ with $theme.integrity }}integrity="{{ . }}"{{ end }}
    {{ with $theme.crossorigin }}crossorigin="{{ . }}"{{ end }} >
{{else}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" integrity="sha256-Zd1icfZ72UBmsId/mUcagrmN7IN5Qkrvh75ICHIQVTk="
    crossorigin="anonymous" />
{{ end }}

<!-- ballon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.4.0/balloon.min.css" />

<!-- Extra CSS files in the page's frontmatter -->
{{range .Params.ExtraCssFiles }}
  <link rel="stylesheet" href="{{.href}}"
    {{ with .integrity }}integrity="{{ . }}"{{ end }}
    {{ with .crossorigin }}crossorigin="{{ . }}"{{ end }}
    />
{{ end }}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.FaviconFile }}
    href="/{{ .Site.Params.FaviconFile }}"
{{ else }}
    href="/img/favicon.ico"
{{ end }}>

<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
