<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"
      prefix="og: http://ogp.me/ns#
              article: http://ogp.me/ns/article#">

{{ partial "head.html" . }}
<body lang="{{ .Site.LanguageCode }}">
    <script>
        document.body.className += ' fade-out';
    </script>
    <a data-balloon="Back to Top" data-balloon-pos="left" id="back-to-top"><i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i></a>
    <section class="container">
        <header id="main">
            <h1 id="site-title">{{ .Site.Title }}</h1>
            <nav id="site-nav" class="row">
                <ul class="twelve columns">
                    {{range .Site.Menus.main.ByWeight }}
                    <li><a class="button" href="{{.URL}}">{{.Pre}}<span class="text">&nbsp;{{.Name}}</span></a></li>
                    {{end}}
                </ul>
            </nav>
        </header>