{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav id="pager" class="pagination">
    <ul class="row">
        {{ with $pag.First }}
            <li class="one-quarter column"><a class="u-pull-right button button-primary{{ if not $pag.HasPrev }} disabled{{ end }}"
                href="{{ .URL }}" aria-label="First">
                <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                <span class="text">&nbsp;First Page</span>
            </a></li>
        {{ end }}
        <li class="one-quarter column"><a class="u-pull-left button button-primary{{ if not $pag.HasPrev }} disabled{{ end }}"
            href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">
            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                <span class="text">&nbsp;Previous Page</span>
        </a></li>
        <li class="one-quarter column"><a class="u-pull-right button button-primary{{ if not $pag.HasNext }} disabled{{ end }}"
            href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next">
            <span class="text">Next Page&nbsp;</span>
            <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
        </a></li>
        {{ with $pag.Last }}
            <li class="one-quarter column"><a class="u-pull-left button button-primary{{ if not $pag.HasNext }} disabled{{ end }}"
                href="{{ .URL }}" aria-label="Last">
                <span class="text">Last Page&nbsp;</span>
                <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
            </a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}