@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i')
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,400,400i,700,700i')
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono:300,300i,400,400i,700,700i')
body
  font-family: "Open Sans", "Open Sans Condensed", sans-serif

h1,
h2,
h3,
h4,
h5,
h6
  font-family: "Open Sans Condensed", "Open Sans", sans-serif
  letter-spacing: 0.2px
  font-weight: bold

pre,
code
  font-family: "Droid Sans Mono", monospace

