@import url('../fonts/mplus/mplus_webfonts.css')
body
  font-family: "M+ P Type-2 (basic latin) Regular", sans-serif

h1
  font-family: "M+ C Type-2 (basic latin) Black", sans-serif

h2
  font-family: "M+ C Type-1 (basic latin) Heavy", sans-serif

h3
  font-family: "M+ C Type-1 (basic latin) Bold", sans-serif

h4
  font-family: "M+ C Type-1 (basic latin) Medium", sans-serif

h5
  font-family: "M+ C Type-1 (basic latin) Regular", sans-serif

h6
  font-family: "M+ C Type-1 (basic latin) Light", sans-serif

pre,
code
  font-family: 'M+ MN Type-1 (basic latin) Light', monospace

